<app-sidenav></app-sidenav>
<div class="col-md-9 ml-sm-auto col-lg-10 px-md-5 py-4">

     <mat-card>
      <h3>ลงทะเบียนเรียน</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center">
          <div class="col-4">
            <div class="mb-3 mr-5">
              <label for="exampleFormControlInput1" class="form-label">รหัสวิชา</label>
              <input type="text" class="form-control mb-4" formControlName="SubjectID" required>
            </div>
            <div class="d-grid gap-2 d-md-block">
              <button type="button" class="btn" style="background-color: #8CD2DC;">+</button>
            </div>
          </div>
          <div class="col-1">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">ตอนเรียน</label>
              <input type="text" class="form-control mb-4" formControlName="SectionNo" required>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn" type="submit" style="background-color: #37dff9;">ยืนยัน</button>
        </div>
      </form>

  </mat-card>

</div>
