<app-tsidenav></app-tsidenav>
<div class="col-md-9 ml-sm-auto col-lg-10 px-md-5 py-4">
  <mat-card>
  <h3>รายชื่อนักศึกษาที่ลงทะเบียน</h3>
    <div class="row justify-content-center">
      <div class="col-sm">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ปีการศึกษา
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2560</a>
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2561</a>
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2562</a>
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2563</a>
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2564</a>
          </div>
      </div>
      <div class="col-sm">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ภาคเรียนที่
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">1</a>
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2</a>
          </div>
      </div>
      <div class="col-sm">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          รหัสวิชา
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="#" routerLinkActive="active">040613477</a>
          <a class="dropdown-item" routerLink="#" routerLinkActive="active">040613408</a>
        </div>
    </div>
    <div class="col-sm">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ตอนเรียนที่
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="#" routerLinkActive="active">1</a>
        <a class="dropdown-item" routerLink="#" routerLinkActive="active">2</a>
        <a class="dropdown-item" routerLink="#" routerLinkActive="active">3</a>
        <a class="dropdown-item" routerLink="#" routerLinkActive="active">4</a>
      </div>
    </div>
      <table class="table" style="width:100%">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-center">ลำดับที่</th>
            <th scope="col">เลขประจำตัว</th>
            <th scope="col">ชื่อ</th>
            <th scope="col">นามสกุล</th>
            <th scope="col" class="text-center">สาขา</th>
            <th scope="col" class="text-center">สถานะ</th>
            <th scope="col">หมายเหตุ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-center">1</th>
            <td>6204062620071</td>
            <td>อาริยา</td>
            <td>พรหมหากุล</td>
            <td class="text-center">CS</td>
            <td class="text-center">L</td>
            <td>__________</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</div>
