<app-tsidenav></app-tsidenav>
  <div class="col-md-9 ml-sm-auto col-lg-10 px-md-5 py-4">
  <mat-card>
    <h3>วิชาที่สอน</h3>

    <div class="row justify-content-center">
      <div class="col-sm">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ปีการศึกษา
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2560</a>
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2561</a>
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2562</a>
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2563</a>
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2564</a>
          </div>
      </div>
      <div class="col-sm">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ภาคเรียนที่
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">1</a>
            <a class="dropdown-item" routerLink="#" routerLinkActive="active">2</a>
          </div>
      </div>
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">รหัสวิชา</th>
            <th scope="col">ชื่อวิชา</th>
            <th scope="col">ตอนเรียนที่</th>
            <th scope="col">เวลาที่สอน</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">040613477</th>
            <td>UNIX OPERATION SYSTEM ADMIN</td>
            <td>1</td>
            <td>จ.9.00-12.00</td>
          </tr>
          <tr>
            <th scope="row">040613408</th>
            <td>SELECTED TOPICS IN COMPUTER 2</td>
            <td>1</td>
            <td>จ.13.00-16.00</td>
          </tr>
        </tbody>
      </table>
    </div>

    
  </mat-card>

</div>
